body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
}

.title {
  background: #e3f4ff;
  border: 10px solid white;
  margin: 0px;
  padding: 5px;
}

.content {
  background: #e3f4ff;
  border: 10px solid white;
  padding: 10px;
  margin-top: -8px;
}

.button-container {
  background: #e3f4ff;
  border: 10px solid white;
  margin-top: -8px;
  padding: 20px;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  display: block;
  margin-left: 107.5px;
}